build*/
build-nix*/
!build.cmake
*.files
*.includes
*.user
*.config
CMakeLists.txt.*
compile_commands.json
Debug/
.cache/
.vimspector.json
INSTALLER/

*.patch

!src/output/graphical_wayland/gen/.gitignore

