[Desktop Entry]
Type=Application
Version=1.1
Name=WAVA
GenericName=Graphical Audio Visualizer
Comment=X11 Audio Visualizer for ALSA
Exec=wava
Icon=wava_visualizer
Terminal=false
Categories=Audio;AudioVideo

